<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850845826578-ruenocv5qbnj82ed57s6r7hb1b530u0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850845826578-ruenocv5qbnj82ed57s6r7hb1b530u0m</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ2S83atnnRAdyJkNauYUPze9b-xSD0fk</string>
	<key>GCM_SENDER_ID</key>
	<string>850845826578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spaceapp</string>
	<key>PROJECT_ID</key>
	<string>spaceappnotificacao-b8728</string>
	<key>STORAGE_BUCKET</key>
	<string>spaceappnotificacao-b8728.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850845826578:ios:a46bd8ceb0f2c810a7e2cb</string>
</dict>
</plist>